.pd-10{
    padding: 10px;
}

.header{
    height: 120px;
    background-image: linear-gradient(0, #f6422e, #f7432e);
}
.header__navbar{
    display: flex;
    justify-content: space-between;
}
.header__navbar-list{
    list-style: none;
    padding-left: 0;
}
.header__navbar-item{
    padding: 0 7px;
}
.header__navbar-item,
.header__navbar-item-link{
    display: inline-block;
    font-size: 1.5rem;
    color: var(--white-color);
    text-decoration: none;
    font-weight: 400;
    position: relative;
}
.header__navbar-item:hover,
.header__navbar-item-link:hover{
    color: rgba(255, 255, 255, 0.7);
    cursor: pointer;
}
.on-qrcode:hover .header__qr{
    display: block;
}
.header__navbar-item--no{
    cursor: text;
    color: var(--white-color);
}
.header__navbar-item--seperate{
    border-right: 2px solid hsl(6deg, 93%, 67%);
}
.header__navbar-item-icon-left{
    font-size: 1.6rem;
    margin-left: 10px;
}

.header__navbar-item-icon-right{
    font-size: 1.8rem;
}
.header__qr{
    background-color: var(--white-color);
    width: 200px;
    position: absolute;
    left: 8px;
    top: calc(100% + 50%);
    border-radius: 4px;
    display: none;
    animation: COMEIN ease-in .3s;
}
.header__qr-img{
    width: 100%;

    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
}
.header__qr-desc{
    color: black;
    text-align: center;
}
.header__qr::before{
    position: absolute;
    width: 100%;
    height: 35px;
    content: "";
    display: block;
    left: 0;
    top: -20px;
}
/* notification */
.header__noti{
    position: absolute;
    top: 150%;
    right: 8px;
    width: 400px;
    border: 1px solid #d3d3d3;
    border-radius: 4px;
    background-color: white;
    display: none;
    transform-origin: 95% 0;
    animation: growth ease-in .2s;
    will-change: opaciy, transform;
    cursor: default;
}


.on-noti:hover .header__noti{
    display: block;
}
.header__noti-header{
    height: 40px;
    background-color: var(--white-color);
}
.header__noti-header h3{
    color: #c0c0c0;
    margin: 0;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 40px;
    margin-left: 12px;
    cursor: text;
    /* user-select: none; */
}
.header__noti-list{
    padding-left: 0;
    
}
.header__noti-item{

}

.header__noti-item--unread{
    background-color: rgba(207, 83, 58, 0.2);
}
.header__noti-item:hover,
.header__noti-item--unread:hover,
.header__noti-footer :hover
{
    background-color: #f7f7f7;
}

.header__noti-link{
    display: flex;
    padding: 12px;
    text-decoration: none;
}
.header__noti-img{
    width: 48px;
    object-fit: contain;
}
.header__noti-info{
    margin-left: 12px;
}
.header__noti-name{
    /* display: block; */
    font-size: 1.4rem;
    color: black;
    margin-top: 2px;
    margin-bottom: 5px;
    line-height: 1.8rem;
}
.header__noti-desc{
    /* display: block; */
    margin-top: 5px;
    font-size: 1.2rem;
    line-height: 1.5rem;
    color: #756f6e;   
}
.header__noti-footer{
    border-top: 1px solid whitesmoke;
    height: 48px;
}
.header__noti-footer a{
    text-decoration: none;

}
.header__noti-footer a h3{
    margin: 0;
    color: black;
    font-weight: 400;
    font-size: 1.5rem;
    text-align: center;
    line-height: 48px;
}
.header__noti::before{
    position: absolute;
    width: 100%;
    height: 35px;
    content: "";
    display: block;
    left: 0;
    top: -20px;
}
/* language */
.header__language{
    position: absolute;
    top: 150%;
    right: 8px;
    width: 170px;
    border: 1px solid #d3d3d3;
    border-radius: 4px;
    background-color: white;
    display: none;
}
.header__language-list{
    padding-left: 0;
}
.header__language-item{
    color: black;
    list-style: none;
    padding: 12px ;
    font-weight: 350;
}
.header__language-item:hover{
    color: var(--primary-color);
}
.on-language:hover .header__language{
    display: block;
}
.header__language::before{
    position: absolute;
    width: 100%;
    height: 30px;
    content: "";
    display: block;
    left: 0;
    top: -20px;
}

/* modal */
.auth-form{
    width: 500px;
    overflow: hidden;
    border-radius: 5px;
    background-color: var(--white-color);
}

.auth-form__containner{
    padding: 0 32px;
}
.auth-form__header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 12px;
    margin-top: 12px;
}
.auth-form__heading{
    font-size: 2.1rem;
    font-weight: 400;
}
.auth-form__switch-btn{
    font-size: 1.7rem;
    font-weight: 450;
    color: var(--primary-color);
    cursor: pointer;
}

.auth-form__input{
    width: 100%;
    height: 40px;
    margin-top: 16px;
    padding: 0 12px;
    font-size: 1.4rem;
    border: 1px solid var(--border-color);
    border-radius: 3px;
    outline: none;
}
.auth-form__input:focus{
    border-color: #777;
}
.auth-form__add{
    margin-top: 18px;
}
.auth-form__policy-text{
    font-size: 1.3rem;
    line-height: 1.8rem;
    text-align: center;
    padding: 0 12px;
}
.auth-form__text-link{
    text-decoration: none;
    color: var(--primary-color);
}
.auth-form__controls{
    margin-top: 80px;
    display: flex;
    justify-content: flex-end;
}
.auth-form__controls-back{
    margin-right: 8px;
}
.auth-form__socials {
    background-color: #f5f5f5;
    padding: 16px 36px;
    display: flex;
    justify-content: space-between;
    margin-top: 22px;
}
.auth-form__socials-icon{
    font-size: 2rem;
}
.auth-form__socials--facebook{
    color: var(--white-color);
    background-color: #3a5a98;
    width: 48%;
    margin-right: 12px;
}

.auth-form__socials--another{
    width: 50%;
    background-color: burlywood;
}
.auth-form__socials-text{
    margin: 0 24px;
    font-weight: 500;
}
.auth-form__help{
    display: flex;
    justify-content: flex-end;
}
.auth-form__help-link{
    text-decoration: none;
    font-size: 1.6rem;
    color: #939393;
}
.auth-form__help-seperate{
    display: block;
    height: 22px ;
    border-right: 1px solid var(--primary-color);
    margin: -3px 16px 0;
}
.auth-form__help-forgot-password{
    color: var(--primary-color);
}
/* modal-end */